---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='CapabilityStatement' id='capabilitystatement-cdl-gestionnaire' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: cdl-gestionnaire - Change History</h2>
  <p>History of changes for capabilitystatement-cdl-gestionnaire {{type | downcase}}.</p>

  {%include CapabilityStatement-capabilitystatement-cdl-gestionnaire-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
